# Node / Frontend
node_modules/
dist/

# Python
__pycache__/
*.pyc
venv/
.env

# ML models & large files
*.pt
*.h5
*.pth
models/
yolov5/

# Test data
test_videos/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
